<div class="relative my-5 space-y-1 justify-center items-center gap-2 text-gray-600 dark:text-white"
  [class.flex]="type==='checkbox'">
  <label [for]="name" [class]="utils.cn('text-base lg:text-lg', {'text-sm lg:text-sm': type === 'checkbox'})"> {{ label }}<span
      class="font-bold" *ngIf="isRequired">
      *</span></label>

  @if (type === 'password') {
  <div class="relative">
    <input autocomplete="off" #myInput [type]="_type" [id]="name" [name]="name" [readonly]="readonly"
      [formControl]="control" appKeyupIgnoreEnter (keyupIgnoreEnter)="onKeyUp()" (input)="onInput($event)"
      [class]="classStyle" />
    <span (click)="toggleDisplayPassword()" [class]="
            utils.cn(
              'absolute right-2 top-1/2 -translate-y-1/2 cursor-pointer text-gray-500'
            )
          ">
      <pw-visibility-icon [show]="displayPassword"></pw-visibility-icon>
    </span>
  </div>
  }
  @else if (type === 'number-list'){
  <input autocomplete="off" #myInput type="text" [id]="name" [name]="name" [readonly]="readonly" [formControl]="control"
    [class]="classStyle" appKeyupIgnoreEnter (keyupIgnoreEnter)="onKeyUp()" (input)="onInput($event)" />
  }
  @else if (type === 'checkbox') {
  <input type="checkbox" [id]="name" [name]="name" [formControl]="control"
    class="text-dodger-blue dark:text-orange-400 bg-transparent " />
  }
  @else if (type === 'textarea') {
  <textarea [id]="name" [name]="name" [formControl]="control"  class="h-24" [class]="classStyle"></textarea>
  }
  @else {
  <input autocomplete="off" #myInput [type]="type" [id]="name" [name]="name" [readonly]="readonly"
    [formControl]="control" [class]="classStyle" appKeyupIgnoreEnter (keyupIgnoreEnter)="onKeyUp()"
    (input)="onInput($event)" />
  }

  <!---: ERROR SECTION -->
  <div [class]="
        utils.cn(
          '!-mt-1  transform rounded text-sm text-red-500 opacity-0 transition-all duration-150 ease-in-out dark:text-red-400',
          { '!mt-1 opacity-100': formIsSubmitting && control.invalid }
        )
      ">
    <div *ngIf="control.errors?.['required'] && formIsSubmitting">
      {{ name | capitalize:true }} is a required field.
    </div>
    <div *ngIf="control.errors?.['minlength'] && formIsSubmitting">
      {{ name | capitalize:true }} must be at least 8 characters long.
    </div>
  </div>

  <div *ngIf="!(formIsSubmitting && control.invalid) && type !== 'number' && type !== 'checkbox' && !control.disabled"
    class="mt-1 text-right text-sm"> {{currentLength}}/{{maxLength}}
  </div>
</div>