<text-button text="Back" state="neutral" withIcon="arrow_back" [small]="true" (clickEvent)="goBack()" />

<div class="w-full p-2 md:p-4 lg:w-3/4 mx-auto -mt-5">

    <form [formGroup]="streetDataFormGroup" (ngSubmit)="onSubmit()"
        class="rounded-lg bg-white p-4 md:p-8 text-sm shadow-md backdrop-blur-md my-6 dark:border-white/50 dark:bg-white/5  dark:shadow-sm dark:shadow-white/35 ">

        <!---: Image URL -->
        <app-image-uploader label="Add a photo" name="image" [formGroup]="streetDataFormGroup"
            [formIsSubmitting]="formIsSubmitting" [(isLoading)]="isImageLoading"> </app-image-uploader>

        <!---: Property Unique Code -->
        <dashboard-select-dropdown label="Property Unique Code" name="unique_code" [formGroup]="streetDataFormGroup"
            bindLabel="value" bindValue="id" [formIsSubmitting]="formIsSubmitting" [items]="uniqueCodeOptions"
            (changeEvent)="getStreetData($event)">
        </dashboard-select-dropdown>


        <!---: Street Address -->
        <dashboard-input-field label="Street Address" name="street_address" [formGroup]="streetDataFormGroup"
            [formIsSubmitting]="formIsSubmitting">
        </dashboard-input-field>


        <!---: Sector  -->
        <dashboard-select-dropdown label="Sector" name="sector" [formGroup]="streetDataFormGroup" bindLabel="label"
            bindValue="value" [formIsSubmitting]="formIsSubmitting" [items]="sectorOptions">
        </dashboard-select-dropdown>


        <!---: Location  -->
        <dashboard-select-dropdown label="Location" name="location" [formGroup]="streetDataFormGroup" bindLabel="name"
            bindValue="id" [formIsSubmitting]="formIsSubmitting" [items]="locationOptions"> </dashboard-select-dropdown>


        <!---: Section  -->
        <dashboard-select-dropdown label="Section" name="section" [formGroup]="streetDataFormGroup" bindLabel="name"
            bindValue="id" [formIsSubmitting]="formIsSubmitting" notFoundText="Set a location first"
            [items]="sectionOptions"> </dashboard-select-dropdown>

        <!---: Number of Units  -->
        <dashboard-input-field label="Number of Units" name="number_of_units" [formGroup]="streetDataFormGroup"
            [formIsSubmitting]="formIsSubmitting" type="number">
        </dashboard-input-field>

        <!---: Construction Status -->
        <dashboard-select-dropdown label="Construction Status" name="construction_status"
            [formGroup]="streetDataFormGroup" bindLabel="label" bindValue="value" [formIsSubmitting]="formIsSubmitting"
            [items]="constructionStatusOptions">
        </dashboard-select-dropdown>


        <!---: Description -->
        <dashboard-input-field label="Description" name="description" [formGroup]="streetDataFormGroup"
            [formIsSubmitting]="formIsSubmitting" type="textarea" [maxLength]="1000"></dashboard-input-field>


        <!---: OPTIONAL -->

        <!---: Contact Name -->
        <dashboard-input-field label="Contact Name" name="contact_name" [formGroup]="streetDataFormGroup"
            [formIsSubmitting]="formIsSubmitting">
        </dashboard-input-field>

        <!---: Contact Numbers -->
        <dashboard-input-field type="number-list" label="Contact Number(s)" name="contact_numbers"
            [formGroup]="streetDataFormGroup" [formIsSubmitting]="formIsSubmitting">
        </dashboard-input-field>

        <!---: Contact Email -->
        <dashboard-input-field label="Contact Email" name="contact_email" type="email" [formGroup]="streetDataFormGroup"
            [formIsSubmitting]="formIsSubmitting">
        </dashboard-input-field>

        <dashboard-submit-btn [isLoading]="isImageLoading"> Submit </dashboard-submit-btn>
    </form>
</div>