<div class="divider-y relative container mx-auto max-w-[800px] bg-white px-2 py-4 dark:bg-gray-700">
    <button *ngIf="ns.count$ | async"  (click)="deleteAll()" class="absolute top-9 right-9" title="Delete all notifications">
        <my-mat-icon>delete</my-mat-icon>
    </button>
    <pane-navigator-panel [(activePane)]="activePane" [tabs]="tabs"> </pane-navigator-panel>
    <div class="divide-y dark:divide-gray-600">
        @if(activeNotifications){
        @if(activeNotifications.length){
        @for (item of activeNotifications; track item.id) {
        <div>
            <dashboard-notification-item [notification]="item"
                (markAsReadChange)="markAsRead($event)"></dashboard-notification-item>
        </div>
        }
        }
        @else {
        <div class="empty-state"> {{ noNotificationText }}</div>
        }
        }
        @else {
        @if(error){

        <div class="empty-state">
            {{ error }}
        </div>
        }
        @else {

        <div class="empty-state">
            <spinner></spinner>
        </div>
        }
        }


        <!-- <ng-template *ngIf="activePane === 'unreadNotifications';
        then unreadNotificationsTemplate;
        else allNotificationsTemplate
      "></ng-template> -->
    </div>
</div>