<div
      appClickOutside
      (clickOutside)="closeProfileDropdown()"
      #profileDropdown
      class="fixed right-0 top-14 z-50 flex w-56 flex-col divide-y rounded-md border bg-white text-gray-800 shadow-md dark:divide-gray-500 dark:border-gray-500 dark:bg-gray-700  dark:text-white"
    >
      <div class="flex flex-col items-center justify-center space-y-0.5 p-4">
        <img src="assets/OnIcon.png" alt="on-icon" width="25px" height="25px" />
        <h2
          class=" font-medium tracking-wider md:font-normal md:text-black/50 md:dark:text-white/50"
        >
          {{ name }}
        </h2>
        <button
          (click)="openProfileModal()"
          class="text-sm text-dodger-blue dark:text-orange-400"
        >
          My Profile
        </button>
      </div>
      <div class="p-2 px-4 text-left text-sm">
        <button (click)="openColorSchemeModal()" class="text-left">
          <p class="font-medium">Color Scheme</p>
          <small class="text-black/50 dark:text-white/50">
            {{ colorScheme.current | capitalize }}
          </small>
        </button>
      </div>
      <button (click)="signOut()" class="p-2 px-4 text-left text-sm font-medium">Logout</button>
    </div>