<div @dropdownTrigger appClickOutside (clickOutside)="closeProfileDropdown()" #profileDropdown
  class="fixed right-0 top-14 z-50 flex w-56 flex-col divide-y rounded-md border bg-white text-gray-800 shadow-md dark:divide-gray-500 dark:border-gray-500 dark:bg-gray-700  dark:text-white">
  <div class="flex flex-col items-center justify-center space-y-0.5 p-4">
    <img src="assets/OnIcon.png" alt="on-icon" width="25px" height="25px" />
    <h2 class=" font-semibold tracking-wider md:font-normal md:text-black/50 md:dark:text-white/50">
      {{ name | titlecase }}
    </h2>
    <small class="md:text-black/50 md:dark:text-white/50"> ({{ firstRole | titlecase }}) </small>
    <text-button [small]="true" text="My Profile" (clickEvent)="openProfileModal()"/>

  </div>
  <div class="p-2 px-4 text-left text-sm">
    <button (click)="openColorSchemeModal()" class="text-left flex gap-2">
      <my-mat-icon>{{utils.getColorSchemeIcon(colorScheme.current )}}</my-mat-icon>
      <div>
        <p class="font-medium">Color Scheme</p>
        <small class="text-black/50 dark:text-white/50">
          {{ colorScheme.current | capitalize }}
        </small>
      </div>
    </button>
  </div>
  <button (click)="signOut()"
    class="dark:text-red-400 text-red-500 p-2 py-4 px-4 text-left text-sm font-medium flex gap-2">
    <my-mat-icon>logout</my-mat-icon>
    <span>
      Logout
    </span>
  </button>
</div>