<div class="container mx-auto w-full p-4 max-h-full overflow-auto">
    <!-- <table
        class="min-w-full bg-white border border-gray-300 dark:shadow-white/35 dark:shadow-sm shadow-md backdrop-blur-md dark:border-white/50 dark:bg-white/20">
        <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                <th> ID</th>
                <th> Name</th>
                <th> Username</th>
                <th> Email</th>
                <th> Phone number</th>
                <th> Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of allUsers" class="text-gray-700 dark:text-white">
                <td class="py-3 px-6 text-center "> {{user.id }}</td>
                <td class="py-3 px-6 text-center"> {{user.name }}</td>
                <td class="py-3 px-6 text-center"> {{user.username }}</td>
                <td class="py-3 px-6 text-center"> {{user.email }}</td>
                <td class="py-3 px-6 text-center"> {{user.phone }}</td>
                <td class="py-3 px-6 text-center"> {{user.address.street }}</td>
            </tr>
        </tbody>
    </table> -->
    <!-- <ag-grid-angular [rowData]="rowData" [columnDefs]="colDefs">

    </ag-grid-angular> -->
</div>


