<div class="mt-20 h-fit bg-white p-5 py-10 sm:w-[450px] lg:mt-[7%] lg:p-10">
    <div class="mb-6 flex justify-center">
      <img src="assets/Logo.svg" alt="logo" class="mb-6" />
    </div>
    <h2 class="mb-4 text-center text-xl font-medium">Reset Password</h2>
    <p class="mb-4 text-center text-sm">Enter you new password below.</p>
    <form [formGroup]="resetPasswordFormGroup" (ngSubmit)="onResetPassword()" class="mb-4">
      <auth-input-field
        name="password"
        type="password"
        placeholder="New Password"
        [control]="passwordControl"
        class="mb-7"
      ></auth-input-field>
      <auth-input-field
        name="password_confirmation"
        type="password"
        placeholder="Confirm Password"
        [control]="passwordConfirmationControl"
        class="mb-7"
      ></auth-input-field>
      <auth-submit-btn
        [loading]="loading"
        text="Reset Password"
      ></auth-submit-btn>
    </form>
  </div>