@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

.active {
  @apply text-dark-blue;
}

.router-active {
  @apply border-l-4 border-light-blue bg-white px-3 font-medium text-black transition-colors duration-300 ease-in-out dark:border-orange-400 dark:bg-gray-700 dark:text-white;
}

g {
  @apply fill-black dark:fill-white;
}

g .arc {
  stroke: white !important;
}

/* For WebKit based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  @apply bg-gray-300;
  // background: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
  // background: #888; /* color of the scrollbar itself */
  border-radius: 3px; /* roundness of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
